{{#if this.session.isAuthenticated}}
  <PaperList>
    <PaperItem
      @onClick={{fn this.goToRoute "days"}}
      data-test-available
    >
      {{paper-icon "calendar_today"}}
      <p>Days</p>
    </PaperItem>
    <PaperItem
      @onClick={{fn this.goToRoute "students"}}
      data-test-available
    >
      {{paper-icon "face"}}
      <p>Students</p>
    </PaperItem>
    <PaperItem
      @onClick={{fn this.goToRoute "forms"}}
      data-test-available
    >
      {{paper-icon "library_books"}}
      <p>Forms</p>
    </PaperItem>
  </PaperList>
{{/if}}
