{{#each this.schedulingsGroupedByStudent as |group|}}
  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>{{group.student.name}}</h2>
        <span class="flex"></span>
        {{#if (eq this.editingStudent group.student)}}
          <PaperButton @iconButton={{true}} @onClick={{fn this.finishEditing group}}>
            {{paper-icon "check"}}
          </PaperButton>
        {{else}}
          <PaperButton @iconButton={{true}} @onClick={{fn this.editGroup group}}>
            {{paper-icon "edit"}}
          </PaperButton>
          <PaperButton @iconButton={{true}} @onClick={{fn this.removeGroup group}}>
            {{paper-icon "delete"}}
          </PaperButton>
        {{/if}}
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      <PaperList>
        {{#each group.contentSchedulingPairs as |contentSchedulingPair|}}
          <PaperItem as |controls|>
            <p>
              {{contentSchedulingPair.content.subject.name}}:
              {{contentSchedulingPair.content.notes}}
            </p>
            <div class="md-secondary-container">
              {{#if (eq this.editingStudent group.student)}}
                <controls.button @iconButton={{true}} @onClick={{fn this.deleteScheduling contentSchedulingPair}}>
                  {{paper-icon "delete"}}
                </controls.button>
              {{else}}
                <controls.checkbox
                  @value={{contentSchedulingPair.scheduling.complete}}
                  @onChange={{fn this.handleToggleComplete contentSchedulingPair group.student}}
                />
              {{/if}}
            </div>
          </PaperItem>
        {{/each}}
      </PaperList>
    </PaperContent>
  </PaperCard>
{{/each}}
