<h2>{{formatted-date @model.date}}</h2>

{{#each this.schedulingsGroupedByStudent as |group|}}
  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>{{group.student.name}}</h2>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      <PaperList>
        {{#each group.schedulings as |scheduling|}}
          <PaperItem as |controls|>
            <p>
              {{scheduling.content.subject.name}}:
              {{scheduling.content.notes}}
            </p>
            <div class="md-secondary-container">
              <controls.checkbox
                @value={{scheduling.complete}}
                @onChange={{fn this.handleToggleComplete scheduling}}
              />
            </div>
          </PaperItem>
        {{/each}}
      </PaperList>
    </PaperContent>
  </PaperCard>
{{/each}}
