<h2>{{this.model.contentYear.name}}</h2>

<AddSubjectToContentYearForm
  @contentYear={{this.model.contentYear}}
  @subjects={{this.model.subjects}}
/>

<ContentYearSubjectList @contentYear={{this.model.contentYear}} />

<ContentWeekList @contentWeeks={{this.model.contentYear.contentWeeks}} />
